.heading {
    margin-top: 50px;
    color: white;
    background: purple;
    padding: 0 0 20px 0;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

.item {
    font-weight: 300;
    color: rgb(1, 1, 33);
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    transition: transform 0.5s ease;
}

.item:hover {
    transform: scale(1.1);
}

.itemNavlink {
    text-decoration: none;
}

.childItem {
    padding: 10px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.productBox {
    margin-bottom: 40px;
    width: 800px !important;
}

.cartBtn {
    margin : 0 0 50px 50%;
    translate: -50%;
}

.quantity {
    color: white;
    margin-top: 4px;
    font-size: medium;
    font-weight: bold;
}

.addToCartBtn {
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.text {
    font-weight: bold;
    font-size: x-large;
}
